header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
}

nav a {
	color: #000000;
	text-decoration: none;
}

nav a:hover {
	color: #C78C79;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	text-align: center;
    height: 150px;
    border: 10px solid #ac8f85;
    padding-top: 20px;
    margin: 40px;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.beneficios {
	background: #FFFFFF;
}

.itens {
	font-style: italic;
}

.itens-vantagem {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	margin-left: 5%;
}

.imagemBeneficios {
	width: 50%;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
	color: #FFFFFF;
	font-size: 12px;
}